@model MalmöTradera.web.ViewModel.ItemPostViewModel


<section>
    <h1 class="page-title">Lägg till product</h1>
    <form asp-action="Create">
        <div class="form-control">
            <label asp-for="Name"></label>
            <input asp-for="Name" type="text">
        </div>
        <div class="form-control">
            <label asp-for="price"></label>
            <input asp-for="price" type="text">
        </div>
        <div class="form-control">
            <label asp-for="Description"></label>
            <input asp-for="Description" type="text">
        </div>
            <div class="form-control">
            <label asp-for="ImageUrl"></label>
            <input asp-for="ImageUrl" type="text">
        </div>
        <div class="form-control">
            <div class="buttons-container">
                <button class="btn btn-primary">spara</button>
                <a href="">Avbryt</a>
            </div>
        </div>
        </div>
    </form>
</section>