@model MalmöTradera.web.ViewModel.ItemsDetailListViewModel
        <div class="grid">
                <div class="top">
                        <a class="button" asp-action="index" asp-asp-controller="Items">Tillbaka</a>
                        <p class="name">@Model.Name</p>
                        <div class="info">
                        <span class="info-price">@Model.price kr</span>
                        <br>
                        <span><strong>Beskrivning:</strong></span>
                        <span>@Model.Description</span> 
                        </div>               
                        <img class="product-img" src="@Model.ImageUrl">
                </div>
        </div>
